#tutModal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.invisible {
  visibility: hidden;
}

.tutModal__inner {
  height: 465px;
  width: 264px;
  background-color: #e7e0c2;
  border-radius: 16px;
  padding: 0;
  border: none;
  margin: auto;
  margin-top: 25%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tutModal__instructions {
  font-size: 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 100%;
}

.tutModal__bottom {
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;
}

.bold {
  font-weight: 700;
}

#forwards,
#backwards {
  cursor: pointer;
}

#forwards:hover {
  animation: pulse 1s infinite;
  cursor: pointer;
  animation-timing-function: linear;
}

#backwards:hover {
  animation: pulse 1s infinite;
  cursor: pointer;
  animation-timing-function: linear;
}

.tutModal__middle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.cardInstruction__group {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.cardInstruction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.tutModal__pagetwo__instructions {
  text-align: center;
}

.pagetwo__instruction {
  font-size: 20px;
}

.tutBirdsong-icon {
  cursor: pointer;
}

.tutFact-icon {
  cursor: pointer;
}

/* <>
            <section className="tutModal__instructions">
              <div className="instruction">
                When you select a bird, you’ll have a chance to hear the bird’s
                song and a fact about the bird.
              </div>
            </section>
            <section className="tutModal__middle">
              <TutCard />
              <div className="cardInstruction__group">
                <div className="cardInstruction">
                  <img src={Birdsong} />
                  <div className="cardInstruction__text">
                    Will play the bird’s song or call.
                  </div>
                </div>
                <div className="cardInstruction">
                  <img src={Fact} />
                  <div className="cardInstruction__text">
                    Will play a short fact about the bird.
                  </div>
                </div>
              </div>
            </section>
            <section className="tutModal__bottom">
              <img id="backwards" src={Backwards} onClick={pageBackward} />
              <div id="pageNumber" className="pageNumber">{`${page} / 2`}</div>
              <img id="accept" src={Accept} />
            </section>
          </> */
